ffmpeg-python==0.2.0
numpy==2.0.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pandas==2.2.3
roboflow==1.1.50
scikit-learn==1.6.0
scipy==1.15.0
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
torch==2.5.1
torchaudio==2.5.1
torchsummary==1.5.1
torchvision==0.20.1
tqdm==4.67.1
ultralytics==8.3.58
ultralytics-thop==2.0.13
urllib3==2.3.0
